[Desktop Entry]
Encoding=UTF-8
Exec=linguist
Name=Qt Linguist
Name[ar]=مترجم كيوتي
Name[ca]=Lingüista Qt
Name[cy]=Ieithydd Qt
Name[de]=Qt-Linguist
Name[eo]=Qt-Lingvisto
Name[es]=Lingüista Qt
Name[fa]=Qt زبانی
Name[fi]=Qt Linquist
Name[gl]=Lingüista Qt
Name[hi]=क्यूटी लिंग्विस्ट
Name[ko]=Qt 언어학자
Name[lo]=ແປພາສາຂອງ Qt
Name[lv]=Qt Lingvists
Name[mn]=Qt-Хэл зүй
Name[ms]=Jurubahasa Qt
Name[mt]=Lingwist Qt
Name[nb]=Qt-Linguist
Name[nl]=Qt Linquist
Name[nso]=Sekaleleme sa Qt
Name[pl]=Qt Lingwista
Name[ru]=Qt Лингвист
Name[sl]=Jezikoslovec Qt
Name[sv]=Qt linguist
Name[ta]=Qt மொழியறிஞர்
Name[tg]=Забони Qt
Name[th]=แปลภาษาของ Qt
Name[tr]=Qt Dilci
Name[uk]=Qt-лінгвіст
Name[uz]=Qt лингвист
Name[ven]=Qt Radzinyambo
Name[vi]=Nhà ngôn ngữ học Qt
Name[xh]=Usolwimi we Qt
Name[xx]=xxQt Linguistxx
Name[zh_CN]=Qt 语言家
Name[zh_TW]=Qt 語言學家
Name[zu]=Owozolimi we-Qt
GenericName=Translation Tool
GenericName[af]=Vertaling Program
GenericName[ar]=أداة للترجمة
GenericName[az]=Tərcümə Vasitəsi
GenericName[bn]=অনুবাদ টুল
GenericName[bs]=Alat za prevođenje
GenericName[ca]=Eina de traducció
GenericName[cs]=Překladatelský nástroj
GenericName[cy]=Erfyn Cyfieithu
GenericName[da]=Oversættelsesværktøj
GenericName[de]=Übersetzungsprogramm
GenericName[el]=Εργαλείο μεταφράσεων
GenericName[eo]=Tradukilo por Qt-programoj
GenericName[es]=Herramienta de traducción
GenericName[et]=Tõlkimise rakendus
GenericName[eu]=Itzulpenerako Tresnak
GenericName[fa]=ابزار ترجمه
GenericName[fi]=Käännöstyökalu
GenericName[fo]=Umsetingaramboð
GenericName[fr]=Outil de traduction
GenericName[gl]=Ferramenta de Traducción
GenericName[he]=כלי תרגום
GenericName[hi]=अनुवाद उपकरण
GenericName[hr]=Uslužni program za prevođenje
GenericName[hu]=Fordítássegítő
GenericName[it]=Strumento per le traduzioni
GenericName[ja]=翻訳ツール
GenericName[ko]=번역 도구
GenericName[lo]=ເຄື່ອງມືແປພາສາ
GenericName[lt]=Vertimo įrankis
GenericName[lv]=Tulkošanas Rīks
GenericName[mn]=Орчуулгын програм
GenericName[ms]=Perkakasan Penterjemahan
GenericName[mt]=Għodda tat-traduzzjoni
GenericName[nb]=Oversettelsesverktøy
GenericName[nl]=Vertaalprogramma
GenericName[nn]=Omsetjingsverktøy
GenericName[nso]=Sebereka sa Thlathollo
GenericName[pl]=Narzędzie dla tłumaczy
GenericName[pt]=Ferramenta de Tradução
GenericName[pt_BR]=Ferramenta de Tradução
GenericName[ro]=Utilitar de traducere
GenericName[ru]=Переводчик для Qt
GenericName[se]=Jorgalanneavvu
GenericName[sk]=Prekladací nástroj
GenericName[sl]=Orodje za prevajanje
GenericName[sr]=Алат за превођење
GenericName[ss]=Lithulusi lekuhumusha
GenericName[sv]=Översättningsverktyg
GenericName[ta]=மொழிபெயர்ப்புக் கருவி
GenericName[tg]=Тарҷумагар барои QT
GenericName[th]=เครื่องมือแปลภาษา
GenericName[tr]=Çeviri Aracı
GenericName[uk]=Засіб для перекладів
GenericName[uz]=Таржима қилиш воситаси
GenericName[ven]=Zwishumiswa zwau Dologa
GenericName[vi]=Công cụ dịch
GenericName[wa]=Usteye di ratournaedje
GenericName[xh]=Isixhobo Soguqulelo lomsebenzi kolunye ulwimi
GenericName[xx]=xxTranslation Toolxx
GenericName[zh_CN]=翻译工具
GenericName[zh_TW]=翻譯工具
GenericName[zu]=Ithuluzi Lokuguqulela
Categories=Qt;Development;
X-KDE-StartupNotify=true
MimeType=application/x-linguist
Terminal=false
Type=Application
Icon=linguist

