[Desktop Entry]
Exec=qtconfig
Name=Qt Configuration 
Name[de]=Qt Konfiguration
Comment=A graphical configuration tool for programs using Qt 
Comment[de]=Ein grafisches Konfigurationstool für Qt-Programme
MapNotify=true
MimeType=application/x-qtconfig
Terminal=false
Icon=qtconfig
Type=Application
Categories=Qt;Settings
